@model Shasta_Water_Management.Customer
@{
    ViewBag.title = "Search";
}

<script>
    var customer = @Html.Raw(Json.Encode(Model));
</script>

<div ng-controller="profileCtrl" class="customer-profile">
    <h1>{{customer.Name}} #{{customer.CustomerID}}</h1>

    <div class=" container">
        <div class="row">
            <div class="col-sm-3">
                <div class="customer-info" id="address">
                    <h3>Address:</h3>
                    {{customer.Address}} <br />
                    {{customer.City}}, {{customer.State}} <br />
                    {{customer.Zip}}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="customer-info" id="phones">
                    <h3>Phone:</h3>
                    <strong>Home:</strong> {{customer.HomePhoneNum}} <br />
                    <strong>Cell:</strong> {{customer.CellPhoneNum}}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="customer-info" id="service-dates">
                    <h3>Service Dates:</h3>
                    <strong>Last Service Date:</strong> {{customer.LastService | date: 'shortDate'}} <br />
                    <strong>Service Interval:</strong> {{customer.ServiceInterval}} Months<br />
                    <strong>Next Service Date:</strong><span ng-class="{'pastDate': !withinServiceDate()}">{{customer.NextServiceDate | date: 'shortDate'}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="customer-info" id="notes">
                    <h3>Notes:</h3>
                    {{customer.Notes}}
                </div>
            </div>
        </div>
    </div>

    <h2>Equipment</h2>
    <div class="equipment-holder container">
        <div class="customer-info col-sm-4" ng-repeat="equipment in customer.CustEquip">
            @*<span class="glyphicon glyphicon-remove-circle" ng-click="remove(equipment)"></span>*@
            <h3>{{equipment.Name}}</h3>
            <strong>Rent/Own:</strong> {{equipment.RentOwn}} <br />
            <strong>Model Number:</strong> {{equipment.ModelNum}} <br/>
            <strong>Serial Number:</strong> {{equipment.SerialNum}} <br />
            <strong>Type:</strong> {{equipment.Type}} <br/>
            <strong>Diagnostics:</strong> {{equipment.Diagnostics}}
            @*<editable-field header="'Model Number'" field="equipment.ModelNum"></editable-field>
            <editable-field header="'Own/Rent'" field="equipment.OwnRent"></editable-field>
            <editable-textarea header="'Diagnostics'" field="equipment.Diagnostics"></editable-textarea>*@
        </div>
    </div>
    <div class="service-holder">
    </div>
    <div class="container">
        <div class="row">
            <div class="btn-group">
                @using (Html.BeginForm("EditCustomer", "Customer", FormMethod.Get, new { @class = "btn-group" }))
                {
                    <button class="btn btn-default">Edit Customer</button>
                    <input type="hidden" name="id" ng-value="customer.CustomerID"/>
                }
                @using (Html.BeginForm("Directions", "Customer", FormMethod.Get, new {@class = "btn-group"}))
                {
                    <input type="hidden" name="id" ng-value="customer.CustomerID"/>
                    <button type="submit" class="btn btn-default">Get Directions</button>
                }
            </div>
        </div>
    </div>
    <hr>
    {{customer}}
</div>
