@{
    ViewBag.Title = "Home";
}

<nav id="toolbar" sw-navigation>
    <ul>
        <li ng-repeat="category in categories" ng-click="$parent.selected = category" ng-class="{'active' : selected === category}">{{category}}</li>
    </ul>
</nav>