@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico.ttf');
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

table {
  border-collapse: collapse;
}

textarea {
    resize: none;
}

/*=========================
         Header Bar
  =========================*/
header {
    background: #333;
    margin-top: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 95px;
}

#header-link h1 {
    display: inline-block;
    font-family: "Pacifico", cursive;
    vertical-align: middle;
    color: white;
}

#header-link:hover {
    text-decoration: none;
}

#header-link img {
    height: 95px;
}

/*========================
    Toolbar
  ========================*/
#toolbar {
    width: 200px;
    display: block;
    height: 100%;
    background: #333;
    color: white;
    font-size: 1.5em;
    float: left;
}

#toolbar ul {
    padding: 0;
    list-style-type: none;
}

#toolbar li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-color: #444;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right: none;
    border-left: none;
    position: relative;
    cursor: pointer;
}

#toolbar li.active {
    background: #666;
}

/*=========================
    Main
  =========================*/
.main {
    background: #bbb;
    position: fixed;
    top: 95px;
    width: 100%;
    height: 100%;
}

.main-content {
    display: block;
    width: calc(100% - 200px);
    height: 100%;
    vertical-align: top;
    float: right;
    overflow: auto;
}

/*Fixes an overflow glitch*/
.main-content:after {
  content: "";
  display: block;
  height: 95px;
}

/*============================
        Search
  ============================*/
#customer-table {
  background: #ddd;
  width: 100%;
}

#customer-table thead {
  cursor: pointer;
  background: #888;
  color: white;
}

#customer-table td, #customer-table th {
  padding: 5px;
  text-align: center;
}

#customer-table tbody tr:nth-child(odd) {
  background: #eee;
}

#customer-table tbody tr:hover {
  cursor: pointer;
  background: #777;
  color: white;
}

#customer-table tfoot {
  background: #888;
}

#customer-table tfoot ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  position: relative;
  width: 300px;
  float: right;
  height: 41px;
  margin-bottom: 0;
}

#customer-table tfoot li {
  display: inline-block;
}

#customer-table tfoot li:first-child {
  position: absolute;
  left: 0;
}

#customer-table tfoot li:last-child {
  position: absolute;
  right: 0;
}

#customer-table tfoot a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

#customer-table tfoot a.disabled {
  cursor: auto;
  color: #999;
}

#customer-table tfoot a.currentPage {
  /*color: blue;*/
  background: #ddd;
  color: #666;
  border-radius: 5px;
}

.order {
  display: inline-block;
  content: "";
  border-color: #444 transparent transparent transparent;
  border-style: solid;
  border-width: 5px;
  vertical-align: middle;
  position: relative;
  left: 5px;
}

.order.reverse {
  border-color: transparent transparent #444 transparent;
  bottom: 5px;
}

/*----------------------------
        searchbar
  ----------------------------*/
.searchBar {
  height: 45px;
  padding: 5px 5px;
  background: #555;
  color: white;
}

.searchBar .search-group {
  vertical-align: top;
  display: inline-block;
  width: 400px;
  margin-right: 15px;
}

.searchBar .inner-addon {
  display: inline-block;
  color: #666;
  width: 300px;
}

.searchBar * {
  vertical-align: bottom;
}

.searchBar label {
  font-size: 1.3em;
}

.searchBar .search-group select {
  width: 65px;
  display: inline-block;
}

/*============================
        Customer Profile
  ============================*/
.customer-profile h1, .customer-profile h2 {
  background: #333;
  border: 1px solid #444;
  border-right: none;
  color: white;
  margin: 0;
  padding: 10px;
}

.customer-profile h2 {
    font-size: 1.7em;
}

.customer-info-holder {
    padding: 10px;
}

.customer-field {
    width: 250px;
}

.customer-field .inner-addon .glyphicon, editable-textarea .inner-addon .glyphicon {
    pointer-events: initial;
    cursor: pointer;
}

editable-field {
    display: inline-block;
}

.equipment {
    display: inline-block;
    width: 500px;
    padding: 10px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
    margin: 5px;
}

.equipment .glyphicon-remove-circle {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1.7em;
    cursor: pointer;
}

.equipment .glyphicon-remove-circle:hover {
    color: #C00;
}

.equipment h3 {
    margin-top: 0;
}

.address {
    display: inline-block;
    width: 400px;
}

.address textarea {
    height: 75px;
}

/*============================
        Misc.
  ============================*/
.inner-addon {
  position: relative;
  width: 100%;
}

.inner-addon .glyphicon {
  position: absolute;
  right: 5px;
  pointer-events: none;
  padding: 6px;
  font-size: 1.2em;
}
